#distancia{
	width:600px;
}
#colorSelect{
	width: 50px;
	height:50px;
}

#calibrar{
	color: #FFFFFF;
  	background-color: #73AD21;
  	background-color: #4CAF50;
  	padding:10px;
  	width: 50px;
  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.mensajes{
	width: 500px;padding: 15px;border-radius: 5px;
	position: absolute;top: 0px;display: block;
}

.aviso{	 
	color: rgb(44, 43, 43);
	background-color: white;font-size: 22px;
	border-left:10px solid #2ecc71;
}

.postit{
  background: url("../assets/img/tienda/nota.png");
  width: 90px;
  padding: 20px;
  padding-left: 40px;  
  background-size: cover;
  height: 50px;
}

.responsive{	
  background-size: cover;
}

.oculto{
	display: none;	
}

.visible{
	display: block;
}